// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#pages {
  background-color: white;
<<<<<<< Updated upstream
  padding: 20px 100px 80px 100px;
  margin: 0 -90px -80px -90px;
=======
  // margin-top: 20px;
  // @extend .container;
  height: auto;
>>>>>>> Stashed changes
}

h2.page-heading {
  text-align: left;
  padding-bottom: 15px;
}
